import React, { useState } from 'react'
import { Button, Tag } from 'antd-packages'
export type {{ properCase name }}Props = {
  name: string
}

const {{ properCase name }}: React.FC = () => {
  const [count,setCount] = useState(0)
  return (
    <div>
      <Tag color="blue">{count}</Tag>
      <Button type="primary" onClick={() => { setCount(count + 1) }}>点击+1</Button>
    </div>
  )
}

export default {{ properCase name }}
